In [1]:
import pandas as pd
import os
import math

In [2]:
dataDir='./Data/'
filename='microbiota_clean_wSCORE.xlsx'

path = os.path.join(dataDir,filename)

In [3]:
df = pd.read_excel(path)

In [4]:
df.shape

(344, 314)

In [5]:
df = df[df.SCORE.notnull()]

In [6]:
df.shape

(336, 314)

In [11]:
df['ScoreClass']=1

In [12]:
df[['SCORE','ScoreClass']].head(300)

         SCORE  ScoreClass
0    22.879007           1
1     1.353694           1
2     0.898345           1
3     1.484264           1
4     1.491918           1
5     3.898358           1
6     1.836433           1
7     2.184495           1
8     0.761695           1
9    14.683229           1
10    3.144521           1
11   10.768774           1
12    4.574546           1
13    3.154071           1
14    3.257595           1
15    2.006362           1
16    4.354457           1
17    4.231669           1
18    2.520249           1
19    3.885516           1
20    6.019058           1
21    1.905593           1
22    4.500820           1
23    6.874374           1
24    4.287369           1
25    2.721086           1
26    0.705335           1
27    3.080471           1
28    6.114808           1
29    1.537867           1
..         ...         ...
274   4.646039           1
275   0.902318           1
276   7.347979           1
277   7.434890           1
278   9.773401           1
279   8.227446           1
280   5.995985           1
281   4.822558           1
282   0.801635           1
283   1.705599           1
284  21.234460           1
285   5.901142           1
286  10.749321           1
287  11.182189           1
288   3.908048           1
289   0.274108           1
290   0.036928           1
291   3.692057           1
292   5.845542           1
293   6.830030           1
294   4.247051           1
295   2.832336           1
296   6.501016           1
297   6.087833           1
298   6.717646           1
299   4.109597           1
300   6.728686           1
301   3.029521           1
302   2.586555           1
303   7.369169           1

[300 rows x 2 columns]

In [9]:
tresholds=(1,2,5,100)

In [13]:
for i, row in df.iterrows():
    for index, el in enumerate(tresholds):
        if (row['SCORE']>el and row['SCORE']<tresholds[index+1]):
            df['ScoreClass'][i]=index+2
            break

C:\Users\Giammi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [14]:
df[['SCORE','ScoreClass']]

         SCORE  ScoreClass
0    22.879007           4
1     1.353694           2
2     0.898345           1
3     1.484264           2
4     1.491918           2
5     3.898358           3
6     1.836433           2
7     2.184495           3
8     0.761695           1
9    14.683229           4
10    3.144521           3
11   10.768774           4
12    4.574546           3
13    3.154071           3
14    3.257595           3
15    2.006362           3
16    4.354457           3
17    4.231669           3
18    2.520249           3
19    3.885516           3
20    6.019058           4
21    1.905593           2
22    4.500820           3
23    6.874374           4
24    4.287369           3
25    2.721086           3
26    0.705335           1
27    3.080471           3
28    6.114808           4
29    1.537867           2
..         ...         ...
311   4.612675           3
312  11.755201           4
313   5.381160           4
314   1.856538           2
315   7.153794           4
316   2.294207           3
317   1.180673           2
318   3.797627           3
319   5.174855           4
320   1.716143           2
321   4.207728           3
322   7.979641           4
323   3.715576           3
324   2.878060           3
325   5.532249           4
326   2.348857           3
327   0.003986           1
328   8.013450           4
329   2.392929           3
330   6.227326           4
331   3.197024           3
332   7.094034           4
333  17.287243           4
334   8.099615           4
335   0.606035           1
336   1.513243           2
338   2.108557           3
339   6.855821           4
340   1.963639           2
341  11.403071           4

[336 rows x 2 columns]

In [15]:
df.groupby('ScoreClass').count()

,Unnamed: 0,Codice_PLIC,Eta,Alcool,Fumo,Attivita_sportiva,Ipolipemizzanti,Antipertensivi,Ipoglicemizzanti,ALTEZZA_cm,...,g_92,g_93,g_94,g_95,g_96,g_97,g_98,g_99,Sesso,SCORE
ScoreClass,,,,,,,,,,,,,,,,,,,,,
1,58,58,58,58,58,58,58,58,58,57,...,58,58,58,58,58,58,58,58,58,58
2,46,46,46,46,46,46,46,46,46,45,...,46,46,46,46,46,46,46,46,46,46
3,112,112,112,112,112,112,112,112,112,105,...,112,112,112,112,112,112,112,112,112,112
4,120,120,120,120,120,119,120,120,120,116,...,120,120,120,120,120,120,120,120,120,120

In [16]:
filename="./microbiota_clean_wCLass.xlsx"

In [17]:
export_excel = df.to_excel (filename, index = None, header=True)